//    COLORS
$color-primary--light: #84DAEB;
$color-primary: #23B5D3;
$color-primary--med: #75ABBC;
$color-primary--dark: #274854; 

$color-secondary--light: #F4B2A4;
$color-secondary: #DB3D1A; 
$color-secondary--dark: #942911;

$color-gray--light: #DFE0E2;
$color-gray: #A2AEBB;
$color-gray--dark: #2B333B;

$color-black: #071013;
$color-white: #F4F5F5;