.article-card {
  display: flex; 
  background-color: $color-primary--light;
  color: $color-black;
  padding: 2rem;
  box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
  border-radius: 20px;

  &-image-box {
    min-height: 100%;
    flex: 2;
    min-width: 6rem;
    margin: auto;
    margin-right: 3rem;  
  }

  &-image {
      width: 100%;
      border-radius: 20px;
    }

  &-info-box {
    flex: 5
  }
}

.article-link-box {
  display: block;
  text-align: right;
}