//    HEADING

.title-primary {
  font-size: 3rem;
  text-transform: uppercase;
}

.title-secondary {
  font-size: 2rem; 
}

.heading-secondary {
  text-transform: uppercase;
  font-size: 2rem;
  margin-bottom: 2rem;
}


//    ORDERED LISTS

.ordered-article-list {
  &-item {
    font-size: 2rem;
  }
}

.ordered-article-heading {
  text-transform: uppercase;
  margin-bottom: 3rem;
  text-align: center;
}


//    ARTICLE CARDS (BLOG)
.article-card-date {
  display: block;
  text-align: right;
  font-size: .9rem;
  margin-bottom: .5rem;
}

.article-card-title {
  color: $color-primary--dark;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.article-description {
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

.article-card-link {
  display: block;
  text-align: right;
}


//    ARTICLES

.article-title {
  font-size: 4rem;
  margin-bottom: 2rem;
}

.article-subtitle {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
}

.inner-heading {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 1rem;
  font-family: 'Yellowtail', cursive;
}

.paragraph {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  
  &:last-child {
    margin-bottom: 6rem;
  }
}

