.container-lg {
  width: 60%;
  margin: 0 auto;
  height: 100%;
}

.container-sm {
  width: 40%;
  margin: 0 auto;
  height: 100%;
}

//  UNDERLINE
.underline {
  width: 10rem;
  height: .5rem;
  border-radius: 20px;
  background-color: $color-primary--med;
  margin: 0 auto 2rem;
}

.dot {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: $color-primary;
  margin: 0 auto 2rem;
}