.article {
  padding: 10rem 0;

  &-heading {
    text-align: center;
    margin-bottom: 3rem;
  }

  &-showcase {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    max-height: 50rem;
    background-position: center;
    border-radius: 20px;
    margin-bottom: 6rem;
  }

  &-body {
    
  }
}

