.header {
  line-height: 2;
  background-color: $color-black;
  display: flex;
  align-items: center;
  padding-bottom: 6rem;
  overflow: hidden;

  &-title {
    text-align: center;
    color: $color-white;
    padding-top: 6rem;
    margin-bottom: 6rem;
  }

  &-cta {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}